body {
    /* background-color: aqua; */
    font-family: sans-serif;
  
    
}

.position{
    display:flex
}

.all{
    padding-top: 10%;
}

h1{
    font-weight: lighter;
    font: bolder;
}

h3{
    font-weight: lighter;
    font: lighter;
}